<header>
  <h1>
    Welcome to Shine, <%= current_user.email %>!
  </h1>
  <h2>
    This uses Rails <%= Rails.version %>
  </h2>
</header>
<section>
  <p>
    This is the awesome future Shine app
  </p>

  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</section>
