<header>
  <h2>Forgot your password?</h2>
</header>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg" %>
<% end %>
<br>
<%= render "devise/shared/links" %>
