<article class="panel panel-default">
  <header class="panel-heading">
    <h2 class="h4">
      {{addresType}} Address
    </h2>
  </header>
  <section class="panel-body">
    <div class="form-group">
      <label class="sr-only" for="street-address">
        Street Address
      </label>
      <input type="text" class="form-control" name="street-address"
        bindon-ngModel="address.street">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="city">City</label>
          <input type="text" class="form-control" name="city"
            bindon-ngModel="address.city">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="sr-only" for="state">State</label>
          <input type="text" class="form-control" name="state"
            bindon-ngModel="address.state">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="zip">Zip</label>
          <input type="text" class="form-control" name="zip"
            required
            pattern="\d\d\d\d\d(-\d\d\d\d)?" 
            bindon-ngModel="address.zipcode">
        </div>
      </div>
    </div>
  </section>
</article>
