<article class="panel panel-primary" *ngIf="customer">
  <header class="panel-heading">
    <h1 class="h3">
      Customer
    </h1>
  </header>
  <section class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="first-name">
            First Name
          </label>
          <input type="text" class="form-control" name="first-name"
                  required
                  bindon-ngModel="customer.first_name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="last-name">Last Name</label>
          <input type="text" class="form-control" name="last-name"
                  bindon-ngModel="customer.last_name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="username">Username</label>
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" name="username"
                  bindon-ngModel="customer.username">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="text" class="form-control" name="email"
                  bindon-ngModel="customer.email">
    </div>
  </section>
  <footer class="panel-footer">
    <label for="joined">Joined</label> {{customer.joined_at}}
  </footer>
</article>
