<section class="customer-details" *ngIf="customer">
<form>
  <div class="row">
    <div class="col-md-6">
      <shine-customer-info bind-customer="customer">
      </shine-customer-info>
      <shine-address
        addressType="Shipping"
        bind-address="customer.shipping_address">
      </shine-address>
    </div>
    <div class="col-md-6">
      <article class="panel panel-default">
        <header class="panel-heading">
          <h2 class="h4">
            Billing Info
          </h2>
        </header>
        <section class="panel-body">
          <shine-credit-card
            bind-cardholder_id="customer.cardholder_id">
          </shine-credit-card>
          <hr>
          <shine-address
            addressType="Billing"
            bind-address="customer.billing_address">
          </shine-address>
        </section>
      </article>
    </div>
  </div>
</form>
</section>
